# Nix build outputs
result
result-*             # In case you have custom named symlinks like result-dev, result-test

# Nix garbage collection roots
.nix-gcroots/

# Nix-related files
.nix-channels
.nix-defexpr/
.cache/nix/
.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
